# system artifacts
.vscode
*.code-workspace
.DS_Store

# Book build artifacts
_build
*.aux
*.bbl
*.blg
*.idx
*.lof
*.log
*.lot
*.out
*.pdf
*.pyg
*.synctex.gz
*.toc
devsecops_quickstart.txt
__*_temp.tex
pygments-css
kindlegen
kindlegen.xz
